img[alt="logo"] {
  max-height: 45px;
}

.__dumi-default-table-content table {
  text-align: center;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  height: 4px;
  background-color: #0294f5;
}